email: admin@example.com
acceptTOS: true
path: /var/lib/lego

certificates:
  default:
    domains:
      - example.com
    challenge: tls-alpn

challenges:
  tls-alpn: {}

hooks:
  pre:
    command: /usr/lib/lego/hooks/run-pre-hooks
  deploy:
    command: /usr/lib/lego/hooks/run-deploy-hooks
  post:
    command: /usr/lib/lego/hooks/run-post-hooks
